@import url('https://fonts.googleapis.com/css2?family=Yaldevi&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yaldevi', sans-serif;
  }

  body{
    font-size: 1rem;
    background: #F9F9F2;;
  }

  li{
    list-style-type: none;
  }

  a{
    text-decoration: none;
  }

  img{
    width: 100%;
  }
  
  
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 2rem;
  }
  h3{
    font-size: 1.25rem;
  }
  h4{
    font-size: 0.875rem;
  }
  
  
  
  /*  global classes */
  .btn{
    padding: 0.5rem 1rem;
     border: 2px solid black;
    cursor: pointer;
  }
  
  
  section{
    margin: 5rem 0;
  }

  /*header*/
  .header{
      position: relative;
      background: url("restaurantbg.jpg") no-repeat center/cover fixed;
      min-height: calc(100vh - 76px);
      max-height: calc(100vh - 76px);
      font-size: 16px;
  }

  .header::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 99.5%;
      width: 100%;
      background: rgba(0,0,0,0.4);
  }

.header img{
    max-width: 100%;
    min-width: 100%;
    height: auto;
}

.nav{
    position: absolute;
    top: 0;
    left: 0; 
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 50;
    background: black;
}

.nav ul{
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.nav li{
    margin-right: 1.3rem;
    padding: 0.5rem 1rem;
    transition: 0.5s;
    cursor: pointer;
}

.nav a{
    color: white;
    text-transform: uppercase;
}

.nav li:hover{
  transform: scale(1.1);
}

.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    width: 80%;
    max-width: 80%;
}

.header-content h1{
  font-size: 4.2em;
}

.header-content p{
  font-size: 1em;
}

.header-content *{
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.header-btns-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    padding: 10px 0 50px;
}

.btn:nth-child(1){
  margin-right: 20px;
}

.btn{
  display: flex;
  align-items: center;
  border: 1px solid white;
  padding: 0.75rem 1.25rem;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 2px;
  position: relative;

}

.btn::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0px;
  background: white;
  transition: 0.5s;
}

.btn *{
  color: white;
}

.btn:hover::after{
  width: 100%;
}

.btn:hover.btn p, .btn:hover.btn i{
  color: black;
  z-index: 99;
}

.btn p{
  margin-right: 1rem;
  text-transform: uppercase;
}

/*hours-intro*/
.hours{
  font-size: 16px;
}

.hours-intro{
  text-align: center
}

.hours-intro *{
 text-transform: uppercase;
}

.hours-intro h2{
  margin-bottom: 0.5rem;
  font-size: 2em;
}

.hours-pictures{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 75%;
    column-gap: 20px;
    row-gap: 30px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2rem;
}

.hours-picture-container{
  border-radius: 3px;
  position: relative;
}

.hours-picture-container::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 99%;
  width: 100%;
  background: rgba(0,0,0,0.3);
  border-radius: 3px;
}

.hours-picture-container *{
  color: white;
  text-transform: uppercase;
  z-index: 99;

}

.hours-pictures img{
  max-width: 100%;
  min-width: 100%;
  height: auto;
  border-radius: 3px;
}

.hours-content{
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
}

.hours-content h2, .hours-info p{
  text-shadow: 2px 2px rgb(0, 0, 0);
}

.hours-content h2{
  font-size: 2.5em;
}

.hours-info p{
  font-size: 1.1em;
}

.hours-content .btn{
  margin-top: 20px;
  max-width: 70%;
  font-size: 0.85em;
}

/*Featured*/
.featured h2{
  text-align: center;
  text-transform: uppercase;
}

.featured-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 75%;
  column-gap: 20px;
  row-gap: 30px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2rem;
}

.featured-grid img{
  max-width: 100%;
  min-width: 100%;
  height: auto;
}

.featured-item{
  position: relative;
  cursor: pointer;
}



.featured-price{
  position: absolute;
  right: 0;
  bottom: 4px;
  background: black;
  color: white;
  padding: 5px 15px;
  font-weight: bold;
  font-size: 1.2rem;
  z-index: 99;
}

.featured-info{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background: rgba(0,0,0,0.35);
  opacity: 0;
  transition: 0.4s;

}

.featured-info h4{
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  max-width: 90%;
  text-align-last: center;
  text-shadow: 1.5px 1.5px rgb(0, 0, 0);
  text-align: center;
 
}

.featured-item:hover .featured-info{
  opacity: 1;
}

/*menu*/
.menu-section{
  position: relative;
  padding: 10% 0;
  background: url("https://images.pexels.com/photos/260922/pexels-photo-260922.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center/cover;
}

.menu-section::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 0;
}



.menu-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px;
  justify-content: center;
  margin: 0 auto;
  max-width: 75%;
  z-index: 99;
}


.menu-item img{
  max-width: 100%;
  min-width: 100%;
  height: auto;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: block;

}

.menu-item {
  z-index: 99;
  background: black;
  text-transform: uppercase;
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
 box-shadow: 0px 0px 5px 0px rgba(196, 196, 196, 0.5);
 cursor: pointer;
 transition: 0.3s;
}



.menu-item a{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background: black;
  color: white;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  position: relative;
  
}



.menu-item a p{
  font-size: 1.2rem;
  font-weight: bold;
}



.menu-item:hover{
  transform: scale(1.03);
}


/*about-info*/
.about-information{
  font-size: 15px;
}

.about-info-grid{
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  max-width: 75%;
  column-gap: 20px;
  row-gap: 30px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2rem;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.about-info-grid img{
  max-width: 100%;
  min-width: 100%;
  height: auto;
  display: block;
}

.content-section{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}



.address{
  border: 2px solid rgb(44, 37, 33);
  padding: 20px 40px;
  border-radius: 3px;
}

.address h3{
  font-size: 1.2em;

}

.hours-repeat span{
  margin-left: 5px;
}

.about-information-p{
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 5%;
  font-size: 1em;
  text-align: center;
}

.about-btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.about-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 5px 10px;
  border-radius: 3px;
}

.about-btn:first-of-type{
  margin-right: 12px;
}

.about-btn p{
  font-size: 0.9em;
  margin-right: 5px;
}

.about-btn i{
  color: black;
}
/*Media Feed*/

.media-feed h2{
    text-align: center;
    text-transform: uppercase;
}

.media-feed-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 75%;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2rem;
   
}

.media-feed-grid img{
  max-width: 100%;
  height: auto;
  border-radius: 3px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.329);
}

/*footer*/

.footer{
  background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("https://media-cdn.tripadvisor.com/media/photo-s/1a/b8/46/6d/london-stock.jpg") no-repeat center/cover;
  padding: 40px 0;
  margin-bottom: 0;
}

.footer-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, 347px);
  max-width: 90%;
  column-gap: 20px;
  row-gap: 30px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2rem;
  
}

.footer-grid *{
  color: white;
  text-transform: uppercase;
}

.footer-item{
  min-width: 1fr;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 347px;
}

.footer-item h2{ 
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.list-header{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 12px;
}

.visit-list{
  text-align: center;
  margin-bottom: 12px;
}

.visit-list i{
  margin-right: 8px;
}

.icon-list{
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-list i{
  margin-right: 5px;
  font-size: 1.3rem;
  border: 1px solid white;
  padding: 14px;
  border-radius: 50%;
}

.menu-list{
  width: 70%;
}

.menu-list li{
  border: 2px dashed white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 12px 0;
  transition: 0.4s;
  cursor: pointer;
}



.menu-list li:hover{
  background: white;
}

.menu-list li:hover a{
  color: black;
}



.day-times{
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.day-times h4{
  margin-right: 8px;
}
@media(max-width: 1024px){
  .header{
    font-size: 14px;
  }

  .hours{
    font-size: 13px;
  }

  .about-information{
    font-size: 11px;
  }
}

@media(max-width: 768px){
  
  .header{
    font-size: 12px;
  }

  .nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid red;
    margin: 0 auto;
    background: black;
    width: 50vh;
    min-width: 100px;
    max-width: 50vh;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 20px 0;
    z-index: 70;
    visibility: hidden;
}

.nav li{
  margin: 0;

}

  .hours{
    font-size: 16px;
  }

  .hours-pictures{
    grid-template-columns: 1fr;
    max-width: 80%;
  }



  .menu-grid{
    grid-template-columns: 1fr;
    max-width: 60%;
  }

  .featured-grid{
    grid-template-columns: 1fr;
    max-width: 60%;
  }

  .about-information{
    font-size: 13px;
  }

  .content-section > *{
    margin-bottom: 20px;
  }

  .content-section{
    padding: 35px;
  }

  .about-info-grid{
    grid-template-columns: 1fr;
    row-gap: 0px;
  }

  .about-info-grid img{
    order: 1;
  }
  
  .content-section{
    order: 2;
  }

  .media-feed-grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 590px){

  .header{
    font-size: 9px;
  }

  .hours{
    font-size: 11px;
  }

  .about-information{
    font-size: 11px;
  }


}